.button{
    margin-top: 40px;
}

.button label, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button label{
    font-size: 16px;
    line-height: auto;
    text-align: left;
}

.button #guess{
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 5px;
}

.button #guessBtn{
    width: 350px;
    height: 60px;
    font-size: 24px;
    line-height: auto;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.b-green{
    background-color: #3AE3A8;
}

.b-yellow{
    background-color: rgb(219, 219, 33);
}
.b-red{
    background-color: red;
}